{{!-- <div id="other-user-common-likes" class="col-md-8">
	<h2>You and 50 Cent both like:</h2>
	<div class="movies-grid">
		<div class="movie-div col-md-4">
			<img src="/images/garfield.png" class="movie-image">
			<a href="omdbUrl" class="movie-name"><p>Garfield: The Movie</p></a>
			<p>2004</p>
			<p>Garfield: The Movie is a 2004 American family comedy film directed by Peter Hewitt and inspired by Jim Davis' comic strip of the same name.</p>
		</div>

		<div class="movie-div col-md-4">
			<img src="/images/garfield.png" class="movie-image">
			<a href="omdbUrl" class="movie-name"><p>Garfield: The Movie</p></a>
			<p>2004</p>
			<p>Garfield: The Movie is a 2004 American family comedy film directed by Peter Hewitt and inspired by Jim Davis' comic strip of the same name.</p>
		</div>
	</div>
</div>
<br>
<h2>See all of 50 Cent's favorites here:</h2> --}}