<nav class="navbar navbar-inverse" id="transparent">
  <div class="container-fluid navbar-div">
    <div class="navbar-header">
      <a class="navbar-brand text-lg" id="logged-out-nav-title" href="/">Netflix and Chill</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="text-md nav-links" href="/about">About</a></li>
      <li><a class="text-md nav-links" href="/auth/facebook">Log In</a></li>
    </ul>
  </div>
</nav>
