<nav class="navbar navbar-inverse" id="transparent">
  <div class="container-fluid navbar-div">
    <div class="navbar-header">
      <a class="navbar-brand text-lg" id="logged-in-nav-title" href="/users/{{currentUser._id}}">Netflix and Chill</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="text-md nav-links" href="/users/{{currentUser._id}}/matches">My Matches</a></li>
      <li><a class="text-md nav-links" href="/users/{{currentUser._id}}">My Profile</a></li>
      <li><a class="text-md nav-links" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
