<div>
  <div class="col-md-8 col-md-offset-4">
    <form method="GET" id="searchForm" class="form-horizontal">
      <fieldset>

        <!-- Form Name -->
        <legend class="header-md">Search for your favorite movies and tv shows</legend>

        <!-- Search By Movie Name-->
        <div class="form-group" id="searchbar-div">
          <div id="searchbar">
          <input id="searchTerm" name="search" type="text" placeholder="Search by title..." class="form-control input-md text-md" required="" style="color: black">
          </div>

          <!-- Submit -->
          <div class="form-group" id="searchbar-button">
              <input id="search-movie-btn" class="btn btn-default text-md" type="submit" value="Search"></input>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="search-results col-md-8 col-md-offset-4">

  </div>

</div>
