@font-face {
    font-family: netflixFont;
    src: url('/images/UniversLTStd-UltraCn.otf');
}

/*BODY/ABOUT PAGE/NAVBAR CSS - J*/
body {
	background-color: #141414;
	/*temporary until merge*/
	color: white;
}

#about-div{
	margin-left: 40px;
}

.navbar-div {
	background-color: #E50914;
}

#logged-out-nav-title {
	color: black;
}
#logged-out-nav-title:hover {
	color: white;
}
#logged-in-nav-title {
	color: black;
}
#logged-in-nav-title:hover {
	color: white;
}

.nav-links {
	color: black !important;
}

.nav-links:hover {
	color: white !important;
}
/* TEXT CLASSES - J */
.text-sm {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: white;
}
.text-md {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
}
.text-lg {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 22px;
   color: white;
}
.header-sm {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 24px;
   color: white;
}
.header-md {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 28px;
	color: white;
}

.header-lg {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 36px;
	color: white;
}


/*SEARCH CSS*/
#searchbar-div {
	width: 100%;
	position: relative;
	margin-left: 5px;
}

#searchTerm {
	width: 80%;
	color: black;
	display: inline;
}

#searchbar-button {
	display: inline;
}

.search-movie-item {
	height: 450px;

}


/*button CSS - J*/
.btn-default {
	color: #E50914;
}
.btn-default:focus {
	color: #E50914;
}

/*Sidebar CSS - J*/
#sidebar {
	position: fixed;
	top: 45px;
	min-height: 100%;
	width: 350px;
}
#sidebar-content {
	padding: 15px;
	padding-top: 60px;
	vertical-align: middle;
	text-align: center;
}
#sidebar-buttons {
	text-align: center;
}

#signup-button{
	margin: 0 auto;

}


/* Likes CSS*/
.movie-div {
	height: 450px;
}

.movie-image {
	width: 200px;
    height: 300px;
}

.movie-image:hover {
	opacity: .5;
}

/*EDIT PAGE CSS*/
#save-changes-button {
	text-align: center;
}
#edit-buttons {
	text-align: center;
}

/*MY MATCHES*/
.fb-logo{
	width: 10%;
}

.fb-link{
}

.match-div{
	padding-top: 10px;
	/*background: #929292;*/
	border-radius: 5px;
	width: 250px;
  padding-bottom: 10px;
  margin-right: 20px;
  height: 100px;
}

.match-image{
	border-radius: 5px;
  height: 250px;
}

.match-name{
	text-align: center;
	font-size: 20px;
	color: white;
}

.match-name:hover{
	color: red;
}


/*landing page css - J*/

#modal-oauth-div {
	text-align: center;
}

#netflix-logo {
	width: 60%;
	display: block;
	margin: 0 auto;
}
#and-chill-div{
	width: 60%;
	margin: 0 auto;
}

#landing-pg-header {
	font-family: 'netflixFont', sans-serif;
	color: #E21221;
	font-size: 110px;
}


/*Nidhi*/
/*this is for the button*/
#landing-page-title {
	position:relative;
	top:10vh; /* <---- */
	/*background-color: pink;*/
}

#signup-button {
	padding: 10px 60px 10px 60px;
	outline: none;
	box-shadow:none;
}


/*MediaQueries*/
@media (max-width: 992px) {
	#sidebar{
		position: relative;
		top: 0px;
	}
}
