<div id="about-div">
	<p class="header-lg">Netflix and Chill.</p>
	<p class="header-md">For people who actually want to Netflix and chill.</p>

	<p class="text-lg">Netflix and Chill is a dating site that matches people based on shared tastes in movies and television shows. </p>

	<p class="text-lg">Our current version connects one person to one other person via Facebook. Chat is not currently supported... Stay tuned.</p>
</div>