<div class="container" id="landing-page">
  <div class="col-lg-12 text-center" id="landing-page-title">
  	 <img src='/images/netflix.png' id="netflix-logo">
  	 <div id="and-chill-div">
  	 	<p id="landing-pg-header">AND CHILL</p>
  	 </div>
	   <button type="button" id="signup-button" class="btn btn-default text-lg" data-toggle="modal" data-target="#signUpModal">Join The Party</button>
  </div>

	<div id="signUpModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body" id="modal-oauth-div">
					<a href="/auth/facebook" class="btn btn-default text-lg" id="oauth-button">Sign up with Facebook</a>
					<br>
					<br>
					<p class="text-md" style='color: black'>Already a user? <a href="/auth/facebook">Login with Facebook</a></p>
				</div>
			</div>
		</div>
	</div>
